@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css?family=Questrial");

* {
	font-family: Questrial;
	
}

.container {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 480px 1fr;
    grid-gap: 32px; 
    backdrop-filter: blur(12px) contrast(80);
    color: white; 
}

.foto {
	display: flex;
    flex-direction: column;
    width: 150px;
    height: 210px;
}


.riga{
	height: 300px;
}

    /* Smartphone */
@media (min-width:300px) {
	.row {
	position: absolute;
	margin-top: 50%; 
	margin-left: 50%; 
	margin-right: -50%; 
    }
}

    /* Desktop */
@media (min-width:900px) {
	.row {
	position: absolute;
	margin-top: 50%;
	margin-left: 50%; 
	margin-right: -50%;  
    }
}

    /* Smartphone */
@media (min-width:300px) {
.space {
	margin-top: 30px; 
	margin-left: 0; 
}
}

    /* Smartphone */
@media (min-width:900px) {
.space {
	margin-top: 30px; 
	margin-left: 27.5%; 
}
}

