@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.container {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 480px 1fr;
    grid-gap: 32px; 
    backdrop-filter: blur(12px) contrast(80);
    color: white; 
}

.info {
    padding-top: 24px;
    padding-left: 24px; 
}

.info > div {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 32px; 
}





.movie-cast .set {
	color: white;
	padding: 70px 0;
}

.movie-cast .cast {
    width: 100px;
    height: 140px; 
    cursor: pointer;
    color: white;
}

.movie-cast img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid #cccccc;
}

.movie-cast .cast:hover img {
    border-width: 0px;
    transform: scale(1.1) rotateZ(-2deg);
    box-shadow: -4px 4px 16px #000ff0;
}

.movie-cast label {
    margin-top: 6px;
    display: block;
    color: white;
}