@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css?family=Questrial");

* {
	font-family: Questrial;
	
}

.container {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 480px 1fr;
    grid-gap: 32px; 
    backdrop-filter: blur(12px) contrast(80);
    color: white; 
}

.foto{
	display: flex;
    flex-wrap: wrap;;
    width: 150px;
    height: 210px;

}

.riga{
	height: 250px;
}